// Import our variables to override Bootstraps default ones
@import "./variables";

// Bootstrap Core
// --------------------------------------------------
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Or import only what you need to keep your vendor bundle small
// See "../../../node_modules/bootstrap/scss/bootstrap" for available files
// @import "functions";
// @import "variables";
// @import "mixins";
// @import "root";
// @import "reboot";
// @import "type";
// @import "images";
// @import "code";

/**
 * --------------------------------------------------
 * Here begins our own CSS in the rendered CSS file.
 */

// Theme
// --------------------------------------------------
@import "./theme";

// Print Styles
// --------------------------------------------------
// Use this file to reduce ink an optimize the readability and accessibility of the pages.
// @import "./print";

////////// Do NOT insert style-definitions here! //////////
