### Bower ###
/libs

### npm ###
/node_modules

### System ###
*.DS_Store
*Thumbs.db

### Build ###
/dist
/docs
/server
/reports
/assets/js/*.min.js
/assets/js/*.map

### Dev ###
config.codekit
*.sublime-project
*.sublime-workspace
