dist: trusty
language: node_js
node_js:
  - '0.12'
  - '4'
  - 'stable'
before_install:
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"
  - npm install -g npm
  - npm install -g bower
before_script:
  - npm install -g grunt-cli
script:
  - grunt dev
  - grunt build
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/cf14f0c2c1f1b623a7dc
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
