dist: trusty
language: node_js
node_js:
  - 6
  - 8
  - node
script:
  - npm run dev
  - rm -rf server
  - npm run build
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/2ca50667524396bd8279
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
