//
// Own mixins
// --------------------------------------------------
// Additional global mixins which are meant to be used accross modules.
//
// Local mixins (for use in specific modules) should be placed within these
// corresponding files.
//

@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
	filter: alpha(opacity=$opacity-ie);
}
