<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Micromata GmbH">
	<title>Baumeister{{#if title}} - {{title}}{{/if}}</title>

	<!-- Bundled vendor CSS files -->
	@@vendor.css

	<!-- Our compiled and merged Sass files -->
	@@app.css

	<!--
	Replace "no-js" class with "js" in case JavaScript is available.
	You can delete this when you feel the need to make use of modernizr.
	-->
	<script>(function(h){h.className = h.className.replace('no-js', 'js')})(document.documentElement)</script>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory. -->

	<!-- Place anything custom after this. But put JS to the end of body. -->
</head>

<body>

	<!-- begin: content -->
	{{{contents}}}
	<!-- end: content -->

	<!-- webpack runtime JS -->
	@@runtime.js

	<!-- Vendor JS -->
	@@vendor.js

	<!-- Own JS -->
	@@app.js

<!-- External scripts (eg. analytics) should be placed here -->
</body>
</html>
