	<!-- begin: navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Bootstrap Kickstart</a>
			</div>
			<!-- begin: navbar-collapse -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="{{page.home}}">
						<a href="index.html">Home</a>
					</li>
					<li class="{{page.demoElements}}">
						<a href="demoElements.html">Demo Elements</a>
					</li>
					<li class="{{page.stickyFooter}}">
						<a href="stickyFooter.html">Sticky footer</a>
					</li>
				</ul>
			</div>
			<!-- end: navbar-collapse -->
		</div>
	</div>
	<!-- end: navbar -->
