{{!-- begin: navbar --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="index.html">Baumeister</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item {{home}}">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item {{demoElements}}">
				<a class="nav-link" href="demoElements.html">Demo Elements</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Sticky footer</a>
			</li>
		</ul>
	</div>
</nav>
{{!-- end: navbar --}}
