---
home: active
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<main class="container">

		{{!-- begin: content --}}
		<h1>Bootstrap starter template</h1>
		<p class="lead">
			Use this document as a way to quickly start any new project.
			<br>All you get is this text and a mostly barebones HTML document.
		</p>
		<p>
			Borrowed from the <a href="https://getbootstrap.com/docs/4.0/examples/starter-template/">Bootstrap starter template</a>.
		</p>
		{{!-- end: content --}}

	</main>
	{{!-- end: content container --}}
