---
title: Sticky footer example
stickyFooter: active
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<main class="container">
		{{!-- begin: content --}}
			<h1>Sticky footer with fixed navbar</h1>
			<p class="lead">
				Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code>on the <code>body > .container</code>.
			</p>
			<p>
				Adapted from the <a href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">Bootstrap sticky footer example</a>.
			</p>

		{{!-- end: content --}}
	</main>
	{{!-- end: content container --}}

{{> footer }}
